@import "tailwindcss";

@theme {
  --color-orange: #ff741f;
  --color-biru: #08244c;
  --color-coklat: #694930;
  --color-putih: #fff;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--color-putih);
  color: var(--color-biru);
  font-family: "Inter", sans-serif;
  /* margin: 0;
  padding: 0; */
}

.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}
